body {
 
}

.btn {
  cursor: pointer;
}

h1 {
  color: #34495e;
  transition: color 0.5s ease-in-out;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.js-title {
  font-size: 150px;
  color: white;
}


.js-clock {
  position : absolute;
  
  top: 3%;
  left:27.5%;
}





.js-form {
  position : absolute;
  top: 110px;
 
}
.js-greetings{
  position : absolute;
  top: 90px;
 
}
.js-toDoForm {
  position: absolute;
  top: 140px;
  
}
.pending {
  position: absolute;
  top: 400px;
  left: 350px;
  color: white;
}

.js-toDoList {
  font-weight: 190%;
  font-size: 25px;
}

.pendingText {
  color: white;
}

.finished {
  position: absolute;
  top: 400px;
  left: 790px;
  color: white;
}

.js-finList {
  font-weight: 190%;
  font-size: 25px;
}

.finishedText{
  color: white;
}

.js-weather {
  position: absolute;
  color: white;
  top: 120px;
  left: 350px;
}

button {
  background-color: white;
  border-radius: 50px;
  opacity: 70%;
  font-size: 20px;
  font-weight: 150%;
  
}

.greetings {
  position: absolute;
  top:270px;
  left: 485px;
  font-size: 30px;
  color: white;
  opacity: 85%;
}

.input1 {
  position : absolute;
  opacity: 76%;
  border: 1.5px solid black;
  border-radius: 25px;
  
  font-size: 25px;
  top: 200px;
  left: 470px;
  padding: 2px;
}

.input2 {
  position : absolute;
  opacity: 76%;
  border: 1.5px solid black;
  border-radius: 25px;
  
  font-size: 25px;
  top: 220px;
  left: 470px;
  padding: 2px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.bgImage {
  position:: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1.5s linear; 
}

